#content { width: 960px;
           margin: 0 auto; }

/* header */
header { width: 100%;
         height: 140px;
         position: relative; }
nav { width: 100%;
      height: 23px;
      position: relative; }
header #logo { width: 355px;
               height: 92px;
               float: left;
               position: relative;
               top: 14px;
               left: 22px;
               border: none; }
header #subtitle { float: left;
                   height: 122px;
                   padding: 17px 0 11px 94px; }
header #icons {  }
header #address { padding-top: 6px; }

/** nav menu */
nav menu { width: 100%;
           height: 22px;
           line-height: 22px;
           padding: 0;
           margin: 0;
           position: absolute;
           bottom: 0; }
nav menu li { float: right; }
nav menu li a:active { padding-top: 1px; }

/* footer */
footer { width: 100%;
         float: left;
         margin-top: 14px;
         padding: 3px; }

/* homepage */
#featured section, #featured aside, .latest-article { padding: 3px; }
/** featured section */
#featured #calendar, #featured #radio, #featured #event { margin-top: 14px; }
#featured #event { height: 310px;
                   width: 750px; /* 77%; */
                   float: left; }
#featured #calendar, #featured #radio { width: 185px; /* 19%; */
                                        height: 145px;
                                        float: right; }
/** services */
#services { width: 760px;
            margin-left: 100px;
            float: left;
            margin-top: 14px;
            padding: 3px; }
#services menu { line-height: 22px; }
#services menu li { float: right; }
#services menu li a:active { padding-top: 1px; }

/** latest articles section */
#latest-articles .latest-article { width: 466px; /* 48.6%; */
                                   height: 200px;
                                   margin-top: 14px; }
#latest-articles #latest-cat1, #latest-articles #latest-cat3 { float: left; }
#latest-articles #latest-cat2, #latest-articles #latest-cat4 { float: right; }
