body { background: url( '../images/background.jpg') repeat fixed #d46464;
       opacity: 0.94;
       font-family: sans-serif;
       font-size: 82.5%; }

#content { }
header, nav, footer { background: #eb3f01;
                      color: white;
                      text-align: left;
                      font-weight: bold; }
header { /* shadows */
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray'); /* IE */
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray')"; /* IE8 */ }
nav { /* shadows */
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=5, Color='gray'); /* IE */
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=5, Color='gray')"; /* IE8 */ }
/* header { /\* gradient *\/ */
/*     background-image: -moz-linear-gradient(top, #eb3f01, #fe6f34); /\* FF3.6 *\/ */
/*     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eb3f01),color-stop(1, #fc4f12)); /\* Saf4+, Chrome *\/ */
/*     filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eb3f01', EndColorStr='#fc4f12'); /\* IE6,IE7 *\/ */
/*     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eb3f01', EndColorStr='#fc4f12')"; /\* IE8 *\/ } */

header #logo:hover { background: #fc4f12; }
header #icons { border-bottom: 2px solid #fff; }
header #address { font-size: 130%; }

nav, nav menu, nav menu li:hover, nav menu li a:hover {
    /* round corners */
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

nav menu { background: #fc4f12;
           font-size: 115%; }
nav menu li { list-style: none;
              padding: 0 1em;
              margin: 0; }
nav menu li a { color: #fff;
                text-decoration: none; }
nav menu li:hover, nav menu li a:hover { background: #eb3f01;
                                         /* text shadows */
                                         text-shadow: 1px 1px 0 #992A00; }

footer  { /* round corners */
    -moz-border-radius: 5px 5px 30px 30px;
    border-radius: 5px 5px 30px 30px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    /* shadows */
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray'); /* IE */
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray')"; /* IE8 */ }

/* homepage */
#featured #event, #featured aside, #latest-articles article, #services article { background: /* #eb3f01;  */ #ddd; /* #fff; */ }
#featured .entry-content, #latest-articles article .entry-content, #services a { background: #efe; }
#featured #event { /* shadows */
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='gray'); /* IE */
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='gray')"; /* IE8 */ }

#featured .widget_lollybooks_radio { text-align: center; }

#services { background: #fc4f12;
            color: white;
            text-align: left;
            font-weight: bold;
            /* shadows */
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray'); /* IE */
            -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray')"; /* IE8 */ }
#services h1 { font-size: 150%;
               margin-left: 17px;
               margin-top: 80px;
               -moz-transform:rotate(-90deg); 
               -moz-transform-origin: bottom left;
               -webkit-transform: rotate(-90deg);
               -webkit-transform-origin: bottom left;
               -o-transform: rotate(-90deg);
               -o-transform-origin:  bottom left;
               filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
#services a { color: #222;
              text-decoration: none;
              text-align: center; }
/* #services menu { background: #fc4f12; */
/*                  font-size: 115%; } */
/* #services menu li { list-style: none; */
/*                     padding: 0 1em; */
/*                     margin: 0; } */
/* #services menu li a { color: #fff; */
/*                       text-decoration: none; } */
/* #services menu li:hover, #services menu li a:hover { background: #eb3f01; */
/*                                                      /\* text shadows *\/ */
/*                                                      text-shadow: 1px 1px 0 #992A00; } */

#latest-articles article, #featured aside, #services a {
    /* shadows */
    -webkit-box-shadow: inset 0 0 5px #cbb;
    -moz-box-shadow: inset 0 0 5px #cbb;
    box-shadow: inset 0 0 5px #cbb;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray'); /* IE */
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray')"; /* IE8 */ }
#featured #event, #featured aside, #services, #latest-articles article, #services a {
    /* round corners */
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#featured #event aside { text-align: right;
                         font-weight: bold;
                         /* shadows */
                         -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
                         -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
                         box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
                         /* round corners */
                         -moz-border-radius: 0 0 0 0;
                         border-radius: 0 0 0 0;
                         -webkit-border-top-left-radius: 0;
                         -webkit-border-top-right-radius: 0;
                         -webkit-border-bottom-left-radius: 0;
                         -webkit-border-bottom-right-radius: 0; }
#featured #event header { text-align: center;
                          font-size: 130%;
                          /* round corners */
                          -moz-border-radius: 5px 5px 0 0;
                          border-radius: 5px 5px 0 0;
                          -webkit-border-top-left-radius: 5px;
                          -webkit-border-top-right-radius: 5px; }
#featured #event header h2 { font-size: 115%; }
#featured #event header h2 a { color: #fff;
                               text-decoration: none; }
#featured #event footer { background: #fc4f12;
                          font-weight: normal;
                          font-size: 80%;
                          /* round corners */
                          -moz-border-radius: 0 0 0 0;
                          border-radius: 0 0 0 0;
                          -webkit-border-top-left-radius: 0;
                          -webkit-border-top-right-radius: 0; }
#featured #event .entry-content { /* border: 3px solid #fc4f12; */
                                  padding: 3px;
                                  /* shadows */
                                  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                                  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                                  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                                  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray'); /* IE */
                                  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray')"; /* IE8 */
                                  /* round corners */
                                  -moz-border-radius: 0 0 5px 5px;
                                  border-radius: 0 0 5px 5px;
                                  -webkit-border-bottom-left-radius: 5px;
                                  -webkit-border-bottom-right-radius: 5px; }
#latest-articles header { text-align: center;
                          font-size: 130%;
                          /* round corners */
                          -moz-border-radius: 30px 30px 5px 5px;
                          border-radius: 30px 30px 5px 5px;
                          -webkit-border-top-left-radius: 30px;
                          -webkit-border-top-right-radius: 30px;
                          -webkit-border-bottom-left-radius: 5px;
                          -webkit-border-bottom-right-radius: 5px; }
#latest-articles article aside { text-align: right;
                                 font-weight: bold; }
#latest-articles article header { text-align: center;
                                  font-size: 115%;
                                  /* round corners */
                                  -moz-border-radius: 5px 5px 0 0;
                                  border-radius: 5px 5px 0 0;
                                  -webkit-border-top-left-radius: 5px;
                                  -webkit-border-top-right-radius: 5px; }
#latest-articles article header h2 { font-size: 115%; }
#latest-articles article header h2 a { color: #fff;
                                       text-decoration: none; }
#latest-articles article footer { background: #fc4f12;
                                  font-weight: normal;
                                  font-size: 80%;
                                  /* round corners */
                                  -moz-border-radius: 0 0 0 0;
                                  border-radius: 0 0 0 0;
                                  -webkit-border-top-left-radius: 0;
                                  -webkit-border-top-right-radius: 0; }
#latest-articles article .entry-content { /* border: 3px solid #fc4f12; */
                                          padding: 3px;
                                          /* shadows */
                                          -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                                          -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                                          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                                          filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray'); /* IE */
                                          -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='gray')"; /* IE8 */
                                          /* round corners */
                                          -moz-border-radius: 0 0 5px 5px;
                                          border-radius: 0 0 5px 5px;
                                          -webkit-border-bottom-left-radius: 5px;
                                          -webkit-border-bottom-right-radius: 5px; }
