#content { width: 960px;
           margin: 0 auto;
         }
/* header */
header { width: 100%;
         height: 190px;
       }
header #logo {  }
header #icons {  }
header #address {  }
/** header menu */
header menu { width: 100%;
              height: 1.5em;
            }
header menu li { float: left;
                 list-style: none;
               }
/* footer */
footer { width: 100%;
         float: left;
       }

/* content */
#next-event { width: 70%;
              float: left;
            }

#calendar, #radio { width: 25%;
                    float: right;
                  }

#latest-articles { width: 100%;
                   float: left;
                 }
#latest-articles section { width: 49%; }
#latest-articles #latest-cat1, #latest-articles #latest-cat3 { float: left; }
#latest-articles #latest-cat2, #latest-articles #latest-cat4 { float: right; }
