#content { width: 960px;
           margin: 0 auto; }

/* header */
header { width: 100%;
         height: 165px;
         position: relative; }
header #logo { width: 355px;
               height: 92px;
               float: left;
               position: relative;
               top: 14px;
               left: 22px;
               border: none; }
header #subtitle { float: left;
                   width: 491px;
                   height: 122px;
                   padding: 17px 0 11px 94px; }
header #icons {  }
header #address { padding-top: 6px; }
/** header menu */
header menu { width: 100%;
              height: 22px;
              line-height: 22px;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: 0; }
header menu li { float: right; }
header menu li a:active { padding-top: 1px; }
/* footer */
footer { width: 100%;
         float: left;
         margin-top: 1em; }

/* homepage */
/** featured section */
#featured { width: 100%;
            margin-top: 1em;
          }
#featured, #featured #event { height: 310px; }
#featured #event { width: 70%;
                   float: left; }
#featured #calendar, #featured #radio { width: 25%;
                                        height: 150px;
                                        float: right; }
/** latest articles section */
#latest-articles { width: 100%;
                   height: 400px;
                   margin-top: 1em;
                   float: left; }
#latest-articles section { width: 49%;
                           height: 200px;}
#latest-articles #latest-cat1, #latest-articles #latest-cat3 { float: left; }
#latest-articles #latest-cat2, #latest-articles #latest-cat4 { float: right; }

